body {
	background-color: black;
	color: #CCCCCC;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.column {
	margin-right: .5rem;
}

table,
th,
td {
	border: 1px solid white;
	border-collapse: collapse;
	padding: .25rem;
}

table.classbreakdown,
table.classbreakdown th,
table.classbreakdown td {
	padding-top: .1rem;
	padding-bottom: .1rem;
}

a:link,
a:visited {
	color: #00C0C0;
}

button.team_id_choose {
	margin-left: .2rem;
}
